// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mm-mez.dtsi"

/ {
	model = "Silmates i.MX8MM SoM board";
	compatible = "fsl,imx8mm-mez", "fsl,imx8mm";

	chosen {
		bootargs = "console=ttymxc3,115200 earlycon=ec_imx6q,0x30a60000,115200";
		stdout-path = &uart4;
	};

	pcie0_refclk: pcie0-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	reg_pcie0: regulator-pcie {
		compatible = "regulator-fixed";
		regulator-name = "MPCIE_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio_buff 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usdhc2_vmmc: regulator-usdhc2 {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};

		reg_usbotg1_vbus: regulator-usbotg1 {
			compatible = "regulator-fixed";
			regulator-name = "usbotg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};

		/* add construct for "fmac" to control WL_REG_ON signal */
		usdhc1_pwrseq: usdhc1_pwrseq {
			compatible = "mmc-pwrseq-simple";
			reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>; /* WL REG ON */
			post-power-on-delay-ms = <120>;
			status = "okay";
		};

	};

	sound-wm8731 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "wm8731-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&cpudai>;
		simple-audio-card,bitclock-master = <&cpudai>;
		simple-audio-card,widgets =
			"Line", "Left Line Out Jack",
			"Line", "Right Line Out Jack";
		simple-audio-card,routing =
			"Left Line Out Jack", "LOUT",
			"Right Line Out Jack", "ROUT";

		cpudai: simple-audio-card,cpu {
			sound-dai = <&sai2>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
		};

		simple-audio-card,codec {
			sound-dai = <&wm8731>;
			clocks = <&clk IMX8MM_CLK_SAI2_ROOT>;
		};
	};

};

&iomuxc {
	pinctrl-names = "default";

	imx8mmea-ucom-kit {
/*
		pinctrl_mipi_dsi_en: mipi_dsi_en {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x16
			>;
		};
*/

		pinctrl_sai2: sai2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_MCLK_SAI2_MCLK		0xd6
				MX8MM_IOMUXC_SAI2_TXD0_SAI2_TX_DATA0	0xd6
				MX8MM_IOMUXC_SAI2_TXC_SAI2_TX_BCLK		0xd6
				MX8MM_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0	0xd6
				MX8MM_IOMUXC_SAI2_TXFS_SAI2_TX_SYNC		0xd6
			>;
		};

		/* Bluetooth UART */
		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX		0x140
				MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX		0x140
				MX8MM_IOMUXC_SAI3_RXD_UART2_DCE_RTS_B	0x140
				MX8MM_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B	0x140
			>;
		};

		/* UART console */
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX	0x140
				MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX	0x140
			>;
		};

		pinctrl_usdhc1_gpio: usdhc1grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_DATA7_GPIO2_IO9	0x1c4
			>;
		};

		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x190
				MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
				MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
				MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
				MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
				MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x194
				MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d4
				MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d4
				MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d4
				MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d4
				MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d4
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x192
				MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d4
				MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d4
				MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d4
				MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d4
				MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d4
			>;
		};

		pinctrl_usdhc2_gpio: usdhc2grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19     0x41
				MX8MM_IOMUXC_SD2_CD_B_GPIO2_IO12		0x1c4
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x190
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d0
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d0
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d0
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d0
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d0
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x194
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d4
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d4
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d4
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d4
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d4
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x196
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d6
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d6
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d6
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d6
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d6
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
			>;
		};

		pinctrl_usbotg1: usbotg1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12		0x1d6
				MX8MM_IOMUXC_GPIO1_IO13_USB1_OTG_OC		0x1d6
			>;
		};
	};
};

&i2c1 {

	wm8731: wm8731@1a {
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8731";
		reg = <0x1a>;
		clocks = <&clk IMX8MM_CLK_SAI2_ROOT>;
		clock-names = "mclk";
        };
};

&i2c2 {

	gpio_buff: pca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "BT_REG_ON", "WL_REG_ON", "VBAT_VSEL",
			"BT_DEV_WAKE", "", "AUD_CODEC_MUX_CTRL1",
			"VDDIO_VSEL", "PCIE_PERST_L", "",
			"DIR_WL_DEV_WAKE", "PCIE_CLK_MUX_CTRL", "AUD_CODEC_MUX_CTRL2",
			"DIR_BT_AUD_WS_CLK", "USER_BTN", "USER_LED1", "USER_LED2";

		hog_VBAT_VSEL {
			gpio-hog;
			gpios = <2 0>;
			output-low; /* LOW = 3.3V, HIGH = 3.6V */
		};
		hog_AUD_CODEC_MUX_CTRL1 {
			gpio-hog;
			gpios = <5 0>;
			output-low;
		};
		hog_VDDIO_VSEL {
			gpio-hog;
			gpios = <6 0>;
			output-low; /* LOW = 1.8V, HIGH = 3.3V */
		};
		hog_DIR_WL_DEV_WAKE {
			gpio-hog;
			gpios = <9 0>;
			output-low;
		};
		hog_PCIE_CLK_MUX_CTRL {
			gpio-hog;
			gpios = <10 0>;
			output-low; /* LOW = External Reference Clock, HIGH = i.MX Generated Clock */
		};
		hog_AUD_CODEC_MUX_CTRL2 {
			gpio-hog;
			gpios = <11 0>;
			output-low;
		};
	};

	adv_bridge: adv7535@3d {
		compatible = "adi,adv7533";
		reg = <0x3d>;
		adi,dsi-lanes = <4>;
		status = "okay";

		port {
			adv7535_from_dsim: endpoint {
				remote-endpoint = <&dsim_to_adv7535>;
			};
		};
	};
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	port@1 {
		dsim_to_adv7535: endpoint {
			remote-endpoint = <&adv7535_from_dsim>;
			attach-bridge;
		};
	};
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MM_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL2_OUT>;
	assigned-clock-rates = <11289600>;
	status = "okay";
};

&pcie_phy {
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
	fsl,tx-deemph-gen1 = <0x2d>;
	fsl,tx-deemph-gen2 = <0xf>;
	clocks = <&pcie0_refclk>;
	status = "disabled";
};

&pcie0{
	reset-gpio = <&gpio_buff 7 GPIO_ACTIVE_LOW>;   /* PCIE_PERST_L */
	clocks = <&clk IMX8MM_CLK_PCIE1_ROOT>,
		 <&clk IMX8MM_CLK_PCIE1_AUX>,
		 <&pcie0_refclk>;
	clock-names = "pcie", "pcie_aux", "pcie_bus";
	assigned-clocks = <&clk IMX8MM_CLK_PCIE1_AUX>,
			  <&clk IMX8MM_CLK_PCIE1_CTRL>;
	assigned-clock-rates = <10000000>, <250000000>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL2_50M>,
				 <&clk IMX8MM_SYS_PLL2_250M>;
	vpcie-supply = <&reg_pcie0>;
	status = "disabled";
};

&uart2 { /* Bluetooth UART */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";

	assigned-clocks = <&clk IMX8MM_CLK_UART2>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;

	fsl,uart-has-rtscts;
};

&uart4 { /* Console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart3 { /* Disabled as pins are used by Bluetooth for RTS/CTS */
	status = "disabled";
};

&usbotg1 {
	dr_mode = "otg";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_usbotg1_vbus>;
};

&usbotg2 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};

/* M.2 connector */
&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_usdhc1_gpio>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_usdhc1_gpio>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_usdhc1_gpio>;
	keep-power-in-suspend;
	non-removable;
	pm-ignore-notify;
	cap-power-off;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	status = "okay";
	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;  /* WL_HOST_WAKE = GPIO2_IO09 active low for M.2. */
		interrupt-names = "host-wake";
	};
};

/* uSD connector on carrier board */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};


