// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mm-mez.dtsi"

/ {
	model = "Silmates i.MX8MM MEZ board";
	compatible = "fsl,imx8mm-mez", "fsl,imx8mm";

    aliases {
        rtc0 = &snvs_rtc;
        rtc1 = &pcf85263a_rtc;
    };

	chosen {
		bootargs = "console=ttymxc3,115200 earlycon=ec_imx6q,0x30a60000,115200";
		stdout-path = &uart4;
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_status_led>;

		system-status {
			label = "status";
			linux,default-trigger = "heartbeat";
			gpios = <&gpio3 16 GPIO_ACTIVE_HIGH>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usdhc2_vmmc: regulator-usdhc2 {
			compatible = "regulator-fixed";
			regulator-name = "VSD_3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
			off-on-delay = <20000>;
			enable-active-high;
		};

		reg_usbotg1_vbus: regulator-usbotg1 {
			compatible = "regulator-fixed";
			regulator-name = "usbotg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
/*			gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;*/
			off-on-delay = <20000>;
			enable-active-high;
		};

		/* add construct for "fmac" to control WL_REG_ON signal */
		usdhc1_pwrseq: usdhc1_pwrseq {
			compatible = "mmc-pwrseq-simple";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usdhc1_gpio>;
			reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>; /* WL REG ON */
			status = "okay";
		};

		uart2_pwrseq: uart2_pwrseq {
			compatible = "gpio-reset";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_bt_en>;
			reset-gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;  /* BT REG ON */
			reset-delay-us = <1000>;
			#reset-cells = <0>;
		};
	};

	sound_card: sound-card {
		compatible = "simple-audio-card";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "imx8mm-nau8822";
		simple-audio-card,routing =
			"Headphones", "LHP",
			"Headphones", "RHP",
			"Speaker", "LSPK",
			"Speaker", "RSPK",
			"Line Out", "AUXOUT1",
			"Line Out", "AUXOUT2",
			"LAUX", "Line In",
			"RAUX", "Line In",
			"LMICP",    "Mic In",
			"RMICP",    "Mic In";
		simple-audio-card,widgets =
			"Headphones", "Headphones",
			"Line Out", "Line Out",
			"Speaker", "Speaker",
			"Microphone", "Mic In",
			"Line", "Line In";

		dailink_master: simple-audio-card,codec {
			sound-dai = <&nau8822_1a>;
			clocks = <&clk IMX8MM_CLK_SAI2_ROOT>;
		};

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};
	};

	rotary-encoder {
		compatible = "rotary-encoder";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rotary_encoder>;
		gpios = <&gpio4 20 GPIO_ACTIVE_HIGH>, <&gpio4 10 GPIO_ACTIVE_HIGH>;
		linux,axis = <0>; /* REL_X */
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
    };

	panel: panel_lvds  {
		compatible = "panel-lvds";
		backlight = <&backlight>;
		width-mm = <154>;
		height-mm = <85>;
		data-mapping ="vesa-24";
        enable-gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;

		panel-timing {
			clock-frequency = <51200000>;
			hactive = <1024>;
			vactive = <600>;

			hback-porch = <160>;
			hfront-porch = <140>;
			hsync-len = <20>;

			vback-porch = <23>;
			vfront-porch = <12>;
			vsync-len = <2>;
/*
			hsync-active = <0>;
			vsync-active = <0>;

			de-active = <0>;
			pixelclk-active = <0>;
*/
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in: endpoint {
					remote-endpoint = <&bridge_out>;
				};
			};
		};
	};
};


&iomuxc {

	imx8mn-mez {

		pinctrl_rotary_encoder: rotaryencodergrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20		0x106	/* ENC A */
				MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10		0x106	/* ENC B */
			>;
		};

		// status LED
		pinctrl_status_led: pinctrl_status_led {
			fsl,pins = <
				MX8MM_IOMUXC_NAND_READY_B_GPIO3_IO16		0x16
			>;
		};

		pinctrl_mipi_en: mipi_en_grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x19
			>;
		};

		pinctrl_mipi_extra: mipi_extra_grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20		0x1c4
				MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x1c4
				MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x1c4
				MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25		0x1c4
			>;
		};

		pinctrl_touchscreen: touchscreengrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_RXFS_GPIO4_IO0		0x40000
				MX8MM_IOMUXC_SAI1_RXC_GPIO4_IO1			0x1c4
			>;
		};

		pinctrl_sai2: sai2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_MCLK_SAI2_MCLK		0x6
				MX8MM_IOMUXC_SAI2_TXD0_SAI2_TX_DATA0	0x6
				MX8MM_IOMUXC_SAI2_TXC_SAI2_TX_BCLK		0x6
				MX8MM_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0	0x6
				MX8MM_IOMUXC_SAI2_TXFS_SAI2_TX_SYNC		0x6
			>;
		};

		/* Bluetooth UART */
		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX		0x140
				MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX		0x140
				MX8MM_IOMUXC_SAI3_RXD_UART2_DCE_RTS_B	0x140
				MX8MM_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B	0x140
			>;
		};

		/* UART console */
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX	0x140
				MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX	0x140
			>;
		};

		pinctrl_bt_en: btgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_DATA4_GPIO2_IO6		0x159
			>;
		};

		pinctrl_wlan: wlangrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K	0x141
				MX8MM_IOMUXC_SD1_DATA7_GPIO2_IO9		0x1c4
			>;
		};
		
		pinctrl_usdhc1_gpio: usdhc1grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x41
			>;
		};
	
		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x190
				MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
				MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
				MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
				MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
				MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
			>;
		};

		pinctrl_usdhc2_gpio: usdhc2grpgpio {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19     0x1c4 /*0x41*/
				MX8MM_IOMUXC_SD2_CD_B_GPIO2_IO12		0x1c4
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x190
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d0
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d0
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d0
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d0
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d0
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
			>;
		};

		pinctrl_expander: expandergrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x106
			>;
		};

		pinctrl_usbotg1: usbotg1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO10_USB1_OTG_ID		0x106
				MX8MM_IOMUXC_GPIO1_IO12_USB1_OTG_PWR	0x106
				MX8MM_IOMUXC_GPIO1_IO13_USB1_OTG_OC		0x106
			>;
		};

		pinctrl_usbotg2: usbotg2grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO11_USB2_OTG_ID		0x106
				MX8MM_IOMUXC_GPIO1_IO14_USB2_OTG_PWR	0x106
				MX8MM_IOMUXC_GPIO1_IO15_USB2_OTG_OC		0x106
			>;
		};
				
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK		0x82
				MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI		0x82
				MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO		0x82
			>;
		};

		pinctrl_ecspi1_cs: ecspi1cs {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9		0x40000
			>;
		};

		pinctrl_ads1120_irq: ads1120irq {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5		0x40000
			>;
		};

	};
};


&ecspi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1 &pinctrl_ecspi1_cs &pinctrl_ads1120_irq>;
	cs-gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;
	status = "okay";

	ads1120: adc@0 {
		reg = <0>;
		compatible = "ti,ads1120";
		#address-cells = <1>;
		#size-cells = <0>;
		ti,vref = <1>;		// Vref from REFP0 and REFN0 pins
		spi-max-frequency = <1000000>;
		spi-cpha;
/*
		interrupt-parent = <&gpio1>;
		interrupts = <5 IRQ_TYPE_EDGE_RISING>;
*/
		channel@0 {
			reg = <0>;
			ti,idac = <0>;
			ti,idac-ua = <1000>;
			ti,idac-mux = <1>;
			ti,mux = <2>;
			ti,gain = <1>;
			ti,gain-bypass;
			ti,rsense-val-milli-ohms = <1650000>; //1.65Kohms
		};

		channel@1 {
			reg = <1>;
			ti,idac = <0>;
			ti,idac-ua = <1000>;
			ti,idac-mux = <2>;
			ti,mux = <4>;
			ti,gain = <1>;
			ti,gain-bypass;
			ti,rsense-val-milli-ohms = <1650000>; //1.65Kohms
		};

	};
};

&i2c1 {
    eeprom_bb: eeprom@53 {
		compatible = "st,24c256", "atmel,24c256";
		pagesize = <64>;
		reg = <0x53>;
        	size = <32768>;
		status = "okay";
    };
    
	pcf85263a_rtc: pcf85263@51 {
		compatible = "nxp,pcf85263";
		reg = <0x51>;
/*		quartz-load-capacitance = <PCF85263_QUARTZCAP_12p5pF>;
		quartz-drive-strength = <PCF85263_QUARTZDRIVE_LOW>;*/
	};

	temp_sensor: tmp102@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		#thermal-sensor-cells = <1>;
	};

	/* Audio Codec */
	nau8822_1a: codec@1a {
		compatible = "nuvoton,nau8822";
		reg = <0x1a>;
		// Allow configuring the two loudspeaker outputs as a
		// single Bridge Tied Load output getting higher output power.
		nuvoton,spk-btl;
		#sound-dai-cells = <0>;
	};

};

&i2c2 {

    usb_hub: usb2517@2c {
		compatible = "microchip,usb2517";
		reg = <0x2c>;
		status = "okay";
		vdd-supply = <&reg_system_3v3>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_expander>;
		reset-gpios = <&gpio3 22 GPIO_ACTIVE_LOW>;

/*		disable-hi-speed;*/

		self-powered;
		individual-sensing;

/*		single-tt;*/
		oc-delay-us = <16000>;

		multi-tt;
/*		disable-eop;*/
		individual-port-switching;
		dynamic-power-switching;
		compound-device;
		led-usb-mode;

		power-on-time-ms = <30>;
		string-support;

		/* add printer,qwerty,pmu,ft4232 */
		non-removable-ports = <3 6 7>; 
		bp-disabled-ports = <3 6 7>;

		bp-max-total-current-microamp = <500000>;
		sp-max-total-current-microamp = <100000>;
		sp-max-removable-current-microamp = <100000>;
		bp-max-removable-current-microamp = <500000>;

/*
		sp-disabled-ports = <1 2 4 5>;
		bp-disabled-ports = <3 6 7>;
*/
/*
		non-removable-ports = <1 2 3 6 7>;
		sp-disabled-ports = <>;
		bp-disabled-ports = <>;
		sp-max-total-current-microamp
		bp-max-total-current-microamp
		sp-max-removable-current-microamp
		bp-max-removable-current-microamp
*/		

		manufacturer = "Silmates";
		product = "MultiParaMonitor";
		serial = "1";
    };

	gpio_expander: io-expander@20 {
		compatible = "nxp,pca6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
/*		vcc-supply = <&reg_system_3v3>;*/

		gpio-line-names = 
			"spo2_power_en",
			"ibp_gpio1",
			"ibp_power_en",
			"agm_gpio1",
			"agm_power_en",
			"co_gpio1",
			"co_power_en",
			"bis_gpio1",
			"bis_power_en",
			"ecg_gpio1",
			"ecg_power_en",
			"nibp_gpio1",
			"nibp_power_en",
			"etco2_gpio1",
			"etco2_power_en",
			"na";
	};
};

&i2c3 {
	/*
	goodix_ts: gt928@5d {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touchscreen>;
		compatible = "goodix,gt928";
		reg = <0x5d>;
		interrupt-parent = <&gpio4>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio4 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 1 GPIO_ACTIVE_HIGH>;
		touchscreen-inverted-x = <1>;
		touchscreen-inverted-y = <1>;
		status = "okay";
	};
	*/
/*
	ili2511_ts: ili2511@41 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touchscreen>;
		compatible = "ilitek,ili251x";
		reg = <0x41>;
		interrupt-parent = <&gpio4>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio4 1 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1920>;
		touchscreen-size-y = <1080>;
		status = "okay";
	};
	*/

	goodix_ts:gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touchscreen>;
		interrupt-parent = <&gpio4>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio4 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 1 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
	};

    dsi_lvds_bridge: sn65dsi83@2c {
        compatible = "ti,sn65dsi83";
        reg = <0x2c>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_mipi_extra>;
        enable-gpios = <&gpio3 21 GPIO_ACTIVE_HIGH>;
        status = "okay";

		of-depends-on = <&panel>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				bridge_in: endpoint {
					remote-endpoint = <&mipi_dsi_out>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@2 {
				reg = <2>;

				bridge_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};
		};
    };
};

&pwm1 {
	status = "okay";
};

&backlight {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&gpu {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	port@1 {
		mipi_dsi_out: endpoint {
			remote-endpoint = <&bridge_in>;
			attach-bridge;
		};
	};
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MM_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&uart2 { /* Bluetooth UART */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	resets = <&uart2_pwrseq>;
	assigned-clocks = <&clk IMX8MM_CLK_UART2>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart4 { /* Console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart3 { /* Disabled as pins are used by Bluetooth for RTS/CTS */
	status = "disabled";
};

&usbotg1 {
	dr_mode = "otg";
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_system_3v3>;
	disable-over-current;
};

&usbotg2 {
	hnp-disable;
	srp-disable;
	adp-disable;
/*
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg2>;
*/
	vbus-supply = <&reg_system_3v3>;
	dr_mode = "host";
	status = "okay";
	disable-over-current;
	/delete-property/ usb-role-switch;
};

&usbphynop1 {
	vcc-supply = <&buck4_reg>;
	status = "okay";
};

&usbphynop2 {
	vcc-supply = <&buck4_reg>;
	status = "okay";
};

&usdhc3 {
	no-1-8-v;
	no-mmc-hs400;
};

/* WIFI */
&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_wlan>;
	/delete-property/ cd-gpios;
	bus-width = <4>;
	keep-power-in-suspend;
	non-removable;
	wakeup-source;
	pm-ignore-notify;
	cap-power-off;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	status = "okay";
	no-1-8-v;
	no-mmc-hs400;

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "host-wake";
	};
};

/* uSD connector on carrier board */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
	/* Limit frequency on dev board due to long traces and bad signal integrity */
	max-frequency = <100000000>;
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};


